.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ffffff;
  transition: padding 0.3s, border-bottom 0.3s;
}

.logo {
  width: 220px;
  transition: width 0.3s;
  cursor: pointer;
}
.scrolled .logo {
  width: 160px; /* Adjust the size as needed */
}

.scrolled {
  border-bottom: 2px solid #ccc; /* Adjust border color as needed */
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
    padding: 10px 0px;
  }
}
